@import "semantic-ui-css/semantic.css";

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
